<a href="https://colab.research.google.com/github/bongkyunSON/A1_performance_factory_Aveners/blob/main/A1_project_EDA_230106.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA Load

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
base_path = '/content/drive/MyDrive/Colab Notebooks/Project/data/A1/'
ex = pd.read_csv(base_path + 'example.csv')
log = pd.read_csv(base_path + 'log_csv.csv')
bidding = pd.read_csv(base_path + 'bidding_results.csv')

In [5]:
ex

,index,Impression,Click,Cost,Sum of AD rank,ON/OFF,Bid,Price(PC),Price(Mobile),Delivery Fee,Category1,Category2,Category3,Category4,date
0,1101450552,3,0,0.0,3.000000,0,50,165900,165900,0,가구/인테리어,침실가구,장롱/붙박이장,드레스룸,20221031
1,2570058918,6,0,0.0,3.333333,0,50,10900,10900,0,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20221031
2,3682585180,7,0,0.0,8.000000,0,50,255000,255000,-1,가구/인테리어,거실가구,소파,패브릭소파,20221031
3,1657183311,36,3,150.0,4.416667,0,140,190000,190000,20000,가구/인테리어,아동/주니어가구,책상의자세트,NaN,20221031
4,2209577784,224,0,0.0,5.696429,0,50,129000,129000,0,가구/인테리어,아동/주니어가구,책상,NaN,20221031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3703223720,26,1,50.0,1.000000,0,50,52000,52000,3000,스포츠/레저,캠핑,기타캠핑용품,NaN,20221031
96,2592260104,53,0,0.0,3.113208,0,50,128000,128000,5000,스포츠/레저,캠핑,타프,NaN,20221031
97,555484311,30,0,0.0,12.200000,0,50,49900,49900,0,스포츠/레저,캠핑,캠핑가구,파라솔,20221031
98,2221937268,74,0,0.0,3.391892,0,50,94800,94800,10000,스포츠/레저,캠핑,타프,NaN,20221031
99,4443897048,95,0,0.0,1.778947,0,50,18900,18900,0,생활/건강,수납/정리용품,바구니,NaN,20221031

In [6]:
log

,Unnamed: 0,uid,action_type,category1,category2,category3,collect_time,geoip_city_name,useragent_os,viewrate,viewtime
0,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,2022-12-29 17:29:02,Seongnam-si,Windows,100.0,80033
1,1,0+5vEmGkOuAAB5j2,Basket,패브릭,매트,주방·다용도매트,2022-12-29 12:56:38,Yongin-si,Windows,0.0,0
2,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,2022-12-29 17:11:30,Seoul,iOS,100.0,947
3,3,dC9Fl2Ly9lcADrTn,Highlight,데코·식물,플라워·식물,화병·화분,2022-12-29 17:54:30,Gwangmyeong-si,Windows,0.0,0
4,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,2022-12-29 18:45:05,Jongno-gu,Mac OS X,100.0,1238
...,...,...,...,...,...,...,...,...,...,...,...
5659536,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,2022-12-28 20:01:30,Seoul,Android,100.0,13893
5659537,5659537,PVMstmNg4I4ADq9R,Basket,가구,진열장·책장,책장,2022-12-28 14:30:09,Jinju,Windows,0.0,0
5659538,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,2022-12-29 12:45:13,Gunpo,Android,100.0,47217
5659539,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,2022-12-28 11:07:30,Seoul,Android,100.0,54030
5659540,5659540,bgy5ZGOszc4ADrmd,View,가구,화장대·콘솔,일반화장대,2022-12-29 08:14:39,Iksan,iOS,0.0,0

In [7]:
bidding

,index,Impression,Click,Cost,Sum of AD rank,Bid,Price(PC),Price(Mobile),Delivery Fee,Category Name 1,Category Name 2,Category Name 3,Category Name 4,date
0,3575092,3,0,0.0,3.000000,50,165900,165900,0,가구/인테리어,침실가구,장롱/붙박이장,드레스룸,20221031
1,3575637,6,0,0.0,3.333333,50,10900,10900,0,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20221031
2,4129259,7,0,0.0,8.000000,50,255000,255000,-1,가구/인테리어,거실가구,소파,패브릭소파,20221031
3,4131479,36,3,150.0,4.416667,140,190000,190000,20000,가구/인테리어,아동/주니어가구,책상의자세트,NaN,20221031
4,4131482,224,0,0.0,5.696429,50,129000,129000,0,가구/인테리어,아동/주니어가구,책상,NaN,20221031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337083,2566795,5,0,0.0,13.200000,500,19900,19900,0,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20230103
1337084,2566880,3,0,0.0,17.000000,500,23900,23900,3000,생활/건강,문구/사무용품,이벤트/파티용품,데코용품,20230103
1337085,2566881,1,0,0.0,8.000000,500,2500,2500,3000,가구/인테리어,인테리어소품,기타장식용품,NaN,20230103
1337086,2566891,2,0,0.0,4.000000,500,21000,21000,3000,생활/건강,정원/원예용품,화분받침,NaN,20230103
1337087,2566923,14,0,0.0,12.428571,500,128800,128800,0,가구/인테리어,인테리어소품,액자,퍼즐/그림/사진액자,20230103

action_type은 해당 유저가 한 행동을 의미합니다.

 - 유저가 하는 행동중 추적 가능한 행동은 
 - ‘View', 'Basket', 'Highlight', 'Copy', 'SINF'
 - View : 페이지 방문
 - Basket : 장바구니 버튼 
 - Highlight : 드래그 이벤트 발생 
 - Copy:  복사 이벤트 발생
 - SINF : 광고 유입을 통한 입장

Viewrate는 유저가 페이지에서 확인한 내용들을 의미

viewtime은 유저가 페이지에 머문 시간을 의미합니다 (단위 ms)



bidding_result.csv 파일은 해당 이커머스 사이트에 대한 온라인 광고 집행 내역드리며

12월 22일 부터 24일 데이터 같은 경우는 빠져있음을 알려드립니다. (원래 공유 드리고 싶었던 데이터)

**저희가 데이터 마다 주목하는 부분이 조금씩 다른데.**



 우선 로그 데이터에서는 (log_csv)

 - 로그 데이터 정리 및 uid에 따른 각종 지표 정리 및 대시보드 구축 
 - 예시 : DAU, Active User, 퍼널 분석 
 - 데이터를 통한 유저 인사이트 제공 및 새로운 기획전 구축 전략 수립 

bidding_result에서는 

 - 목표된 예산 카테고리별, 고유 index 별 클릭 최적화 로직 구성 -> log.csv 파일도 같이  이용
 - 일 예산 (100만원)
 - 입찰 결과를 종합할수 있는 대시보드

# log EDA

In [8]:
print('Features:', log.shape[1], ';', 'Entries:', log.shape[0])

Features: 11 ; Entries: 5659541

In [9]:
log.columns

Index(['Unnamed: 0', 'uid', 'action_type', 'category1', 'category2',
       'category3', 'collect_time', 'geoip_city_name', 'useragent_os',
       'viewrate', 'viewtime'],
      dtype='object')

In [10]:
def descriptive_info(log):
    number_of_cells = log.count(axis=0, level=None, numeric_only=False)
    print('Total number of cells the datafile has: \n' + str(number_of_cells))
    print('\n')
    print('Printing descriptive statistics...\n\n', log.describe())

In [11]:
descriptive_info(log)

Total number of cells the datafile has:
Unnamed: 0         5659541
uid                5473228
action_type        5659541
category1          5659541
category2          5659541
category3          4879535
collect_time       5659541
geoip_city_name    5242509
useragent_os       5659541
viewrate           5657112
viewtime           5659541
dtype: int64


Printing descriptive statistics...

          Unnamed: 0      viewrate      viewtime
count  5.659541e+06  5.657112e+06  5.659541e+06
mean   2.829770e+06  7.677686e+01  5.126022e+04
std    1.633769e+06  4.221447e+01  5.810345e+05
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    1.414885e+06  1.000000e+02  8.940000e+02
50%    2.829770e+06  1.000000e+02  1.010400e+04
75%    4.244655e+06  1.000000e+02  4.800500e+04
max    5.659540e+06  1.000000e+02  8.636989e+07

In [12]:
def _trans_date_time(log):
    log.index = pd.to_datetime(log['collect_time'], infer_datetime_format=True)
    log.drop('collect_time', axis=1, inplace=True)
    return log

In [13]:
_trans_date_time(log)

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime
collect_time,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033
2022-12-29 12:56:38,1,0+5vEmGkOuAAB5j2,Basket,패브릭,매트,주방·다용도매트,Yongin-si,Windows,0.0,0
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947
2022-12-29 17:54:30,3,dC9Fl2Ly9lcADrTn,Highlight,데코·식물,플라워·식물,화병·화분,Gwangmyeong-si,Windows,0.0,0
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238
...,...,...,...,...,...,...,...,...,...,...
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893
2022-12-28 14:30:09,5659537,PVMstmNg4I4ADq9R,Basket,가구,진열장·책장,책장,Jinju,Windows,0.0,0
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030
2022-12-29 08:14:39,5659540,bgy5ZGOszc4ADrmd,View,가구,화장대·콘솔,일반화장대,Iksan,iOS,0.0,0

In [14]:
(log.isnull().sum()/ log.shape[0]).sort_values(ascending=False)

category3          0.137821
geoip_city_name    0.073687
uid                0.032920
viewrate           0.000429
Unnamed: 0         0.000000
action_type        0.000000
category1          0.000000
category2          0.000000
useragent_os       0.000000
viewtime           0.000000
dtype: float64

In [15]:
log2 = log.copy()
log2.dropna(axis = 0, inplace =True)
log2

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime
collect_time,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033
2022-12-29 12:56:38,1,0+5vEmGkOuAAB5j2,Basket,패브릭,매트,주방·다용도매트,Yongin-si,Windows,0.0,0
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947
2022-12-29 17:54:30,3,dC9Fl2Ly9lcADrTn,Highlight,데코·식물,플라워·식물,화병·화분,Gwangmyeong-si,Windows,0.0,0
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238
...,...,...,...,...,...,...,...,...,...,...
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893
2022-12-28 14:30:09,5659537,PVMstmNg4I4ADq9R,Basket,가구,진열장·책장,책장,Jinju,Windows,0.0,0
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030
2022-12-29 08:14:39,5659540,bgy5ZGOszc4ADrmd,View,가구,화장대·콘솔,일반화장대,Iksan,iOS,0.0,0

In [16]:
(log2.isnull().sum()/ log.shape[0]).sort_values(ascending=False)

Unnamed: 0         0.0
uid                0.0
action_type        0.0
category1          0.0
category2          0.0
category3          0.0
geoip_city_name    0.0
useragent_os       0.0
viewrate           0.0
viewtime           0.0
dtype: float64

In [17]:
log2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4364999 entries, 2022-12-29 17:29:02 to 2022-12-29 08:14:39
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   uid              object
 2   action_type      object
 3   category1        object
 4   category2        object
 5   category3        object
 6   geoip_city_name  object
 7   useragent_os     object
 8   viewrate         float64
 9   viewtime         int64
dtypes: float64(1), int64(2), object(7)
memory usage: 366.3+ MB

In [18]:
log2 = log2[log2.viewrate > 0]

In [19]:
(log2['viewtime'] == 0).sum()

222

In [20]:
log2 = log2[log2.viewtime > 0]

In [21]:
log2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3412164 entries, 2022-12-29 17:29:02 to 2022-12-28 11:07:30
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   uid              object
 2   action_type      object
 3   category1        object
 4   category2        object
 5   category3        object
 6   geoip_city_name  object
 7   useragent_os     object
 8   viewrate         float64
 9   viewtime         int64
dtypes: float64(1), int64(2), object(7)
memory usage: 286.4+ MB

In [22]:
log2["Year"] = log2.index.year 
log2["Quarter"] = log2.index.quarter
log2["Month"] = log2.index.month
log2["Week"] = log2.index.week
log2["Weekday"] = log2.index.weekday
log2["Day"] = log2.index.day
log2["Dayofyear"] = log2.index.dayofyear
log2["Date"] = pd.DatetimeIndex(log2.index).date

<ipython-input-22-171162d14ed3>:4: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  log2["Week"] = log2.index.week

In [23]:
log2

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 15:32:12,7,tOQhrWGfQcAACo9B,View,가구,테이블·식탁·책상,책상,Gangnam-gu,Windows,100.0,8483,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 10:44:35,9,tuFJqmMTmj0AAIxD,View,가구,침대,침대프레임,Osan,Android,100.0,1215,2022,4,12,52,3,29,363,2022-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29 12:45:14,5659533,3yfy5mOZpbYAAMpw,View,가전·디지털,주방가전,오븐·전자레인지,Gangnam-gu,Android,100.0,6054,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 15:40:29,5659534,qE73wWOr1C8ABhBw,View,캠핑용품,캠핑생활용품,기타캠핑생활용품,Songpa-gu,Windows,100.0,10006,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893,2022,4,12,52,2,28,362,2022-12-28
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030,2022,4,12,52,2,28,362,2022-12-28

In [24]:
log2['Date'].value_counts()

2022-12-26    489063
2022-12-27    469244
2022-12-28    444422
2022-12-22    438908
2022-12-29    429770
2022-12-23    388544
2022-12-25    307946
2022-12-24    249589
2022-12-30    194678
Name: Date, dtype: int64

In [25]:
log2['useragent_os'].value_counts(normalize=True)
# Windows      0.6
# Android      0.2
# iOS          0.1
# Mac OS X     0.06
# Linux        0.002
# Chrome OS    0.0002
# Ubuntu       0.00004
# Tizen        0.00004
# Other        0.000008
# CentOS       0.000003
# Fedora       0.0000006

Windows      6.429750e-01
Android      1.857044e-01
iOS          1.058706e-01
Mac OS X     6.338412e-02
Linux        1.767207e-03
Chrome OS    2.107167e-04
Ubuntu       4.102968e-05
Tizen        3.575444e-05
Other        7.619798e-06
CentOS       2.930691e-06
Fedora       5.861383e-07
Name: useragent_os, dtype: float64

In [30]:
log2 = log2[log2['useragent_os'].isin(['Windows', 'Mac OS X', 'Android', 'iOS'])]
log2

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 15:32:12,7,tOQhrWGfQcAACo9B,View,가구,테이블·식탁·책상,책상,Gangnam-gu,Windows,100.0,8483,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 10:44:35,9,tuFJqmMTmj0AAIxD,View,가구,침대,침대프레임,Osan,Android,100.0,1215,2022,4,12,52,3,29,363,2022-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29 12:45:14,5659533,3yfy5mOZpbYAAMpw,View,가전·디지털,주방가전,오븐·전자레인지,Gangnam-gu,Android,100.0,6054,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 15:40:29,5659534,qE73wWOr1C8ABhBw,View,캠핑용품,캠핑생활용품,기타캠핑생활용품,Songpa-gu,Windows,100.0,10006,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893,2022,4,12,52,2,28,362,2022-12-28
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030,2022,4,12,52,2,28,362,2022-12-28

In [31]:
log2['useragent_os'].value_counts()

Windows     2193936
Android      633654
iOS          361248
Mac OS X     216277
Name: useragent_os, dtype: int64

In [32]:
log2_win = log2[log2.useragent_os == 'Windows']
log2_win

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 17:29:02,0,avpKyWMn/xEADNlb,View,주방용품,그릇·홈세트,식판·나눔접시,Seongnam-si,Windows,100.0,80033,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 15:32:12,7,tOQhrWGfQcAACo9B,View,가구,테이블·식탁·책상,책상,Gangnam-gu,Windows,100.0,8483,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 16:20:47,10,fG9bBGOixrkAB+UC,View,유아·아동,유아동패브릭,턱받이·손수건,Cheonan,Windows,100.0,89718,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 15:44:56,13,eaoY0WN8dj4AB9W6,View,데코·식물,홈갤러리,그림·사진,Ansan-si,Windows,100.0,160273,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 13:03:15,15,PSC7BWJrY14ABLnw,View,패브릭,이불·이불솜,이불,Seoul,Windows,100.0,229178,2022,4,12,52,3,29,363,2022-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29 08:51:44,5659521,Oxvb+mNka/IADaA6,View,가구,침대,침대프레임,Asan,Windows,100.0,10010,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 18:17:56,5659522,Di7Ia2OrrcIADRhS,View,가구,서랍·수납장,수납장,Daegu,Windows,100.0,1096,2022,4,12,52,2,28,362,2022-12-28
2022-12-29 10:56:14,5659523,3HmzcWJvkH8AByKF,View,가구,의자,인테리어의자,Goyang-si,Windows,100.0,841,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 17:07:42,5659525,tEL3RGN12uoABnpL,View,가전·디지털,세탁기·건조기,드럼세탁기,Nam-gu,Windows,100.0,228012,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 15:40:29,5659534,qE73wWOr1C8ABhBw,View,캠핑용품,캠핑생활용품,기타캠핑생활용품,Songpa-gu,Windows,100.0,10006,2022,4,12,52,2,28,362,2022-12-28

In [34]:
log2_android = log2[log2.useragent_os == 'Android']
log2_android

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 10:44:35,9,tuFJqmMTmj0AAIxD,View,가구,침대,침대프레임,Osan,Android,100.0,1215,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 16:20:31,16,Ow81a2KCTO0ADJ9z,View,패브릭,러그·카페트,기타러그,Yeongdeungpo-dong,Android,100.0,86006,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 17:00:29,19,cKbu5WN2QggAChbB,View,패브릭,커튼·부자재,암막커튼,Seosan City,Android,100.0,48013,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 11:46:59,28,3z4WDGFeSlcADHMj,View,가구,테이블·식탁·책상,사이드테이블,Incheon,Android,100.0,43072,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 18:37:32,35,dCdcYGE4VTMADcYT,View,가구,거울,전신거울,Incheon,Android,100.0,17521,2022,4,12,52,3,29,363,2022-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-28 18:59:09,5659512,amVCm2AA07gADLtz,View,가구,선반,앵글·조립식선반,Seoul,Android,100.0,166167,2022,4,12,52,2,28,362,2022-12-28
2022-12-29 12:45:14,5659533,3yfy5mOZpbYAAMpw,View,가전·디지털,주방가전,오븐·전자레인지,Gangnam-gu,Android,100.0,6054,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 20:01:30,5659536,PUpxWWMWdcIACR2B,View,주방용품,칼·커팅기구,채칼·다지기·강판,Seoul,Android,100.0,13893,2022,4,12,52,2,28,362,2022-12-28
2022-12-29 12:45:13,5659538,diRXdmN49dUABrVo,View,가구,테이블·식탁·책상,식탁,Gunpo,Android,100.0,47217,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 11:07:30,5659539,dusFzWJvp5cADhZW,View,가전·디지털,계절가전,전기히터·온풍기,Seoul,Android,100.0,54030,2022,4,12,52,2,28,362,2022-12-28

In [36]:
log2_ios = log2[log2.useragent_os == 'iOS']
log2_ios

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 17:11:30,2,r8DXy2OtSl8AAojG,View,패브릭,커튼·부자재,암막커튼,Seoul,iOS,100.0,947,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 09:33:33,41,dusPt2Os4FUABdCx,View,주방용품,보관·용기·도시락,아이스박스·기타,Jeongeup,iOS,100.0,11651,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 11:41:53,48,drCTxGOhsPoAA+YS,View,가구,서랍·수납장,주방수납장,Gwangmyeong-si,iOS,100.0,2686,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 09:33:26,50,3yGktmOqrbwABhjJ,View,가구,거울,벽거울,Gwanak-gu,iOS,100.0,47043,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 13:08:38,60,amWBgmOtEp0ABfdc,View,데코·식물,플라워·식물,식물,Seoul,iOS,100.0,90447,2022,4,12,52,3,29,363,2022-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29 16:11:49,5659491,dusqTmOtPa8AB46D,View,패브릭,이불·이불솜,이불,Busan,iOS,100.0,9633,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 16:36:38,5659493,KlLE1GIrEaIADNkM,View,패브릭,커튼·부자재,가리개커튼,Seoul,iOS,100.0,8011,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 22:02:52,5659502,dusHFWOlWAgACRNT,View,가구,소파,일반소파,Jeongeup,iOS,100.0,1006,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 21:02:16,5659515,AeCSamOsMCsACJDD,View,수납·정리,옷걸이,아동옷걸이,Seoul,iOS,100.0,41504,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 22:57:13,5659527,fG8fe2OsSzQAB8bX,View,패브릭,홈패브릭,홈웨어,Daejeon,iOS,100.0,3462,2022,4,12,52,2,28,362,2022-12-28

In [37]:
log2_mac = log2[log2.useragent_os == 'Mac OS X']
log2_mac

,Unnamed: 0,uid,action_type,category1,category2,category3,geoip_city_name,useragent_os,viewrate,viewtime,Year,Quarter,Month,Week,Weekday,Day,Dayofyear,Date
collect_time,,,,,,,,,,,,,,,,,,
2022-12-29 18:45:05,4,09gKcGLg0I8ACyQy,View,가구,진열장·책장,책장,Jongno-gu,Mac OS X,100.0,1238,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 15:31:25,72,2pz9imAsvL4AAa5t,View,가구,진열장·책장,진열장·장식장,Damyang-gun,Mac OS X,100.0,176009,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 14:16:18,122,07gkYGOMXNkABijm,View,수납·정리,화장대·테이블정리,멀티탭·공유기정리함,Suwon,Mac OS X,100.0,95005,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 18:50:57,151,AfnClmOrlvoACMrB,View,패브릭,러그·카페트,극세사·단모러그,Suncheon,Mac OS X,100.0,3001,2022,4,12,52,3,29,363,2022-12-29
2022-12-25 21:42:01,187,c6F2jmL4n70ABE79,View,가구,소파,일반소파,Dongjak-gu,Mac OS X,100.0,9002,2022,4,12,51,6,25,359,2022-12-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-29 12:55:25,5659433,avhHuGOsEqYADSFH,View,가구,선반,벽선반,Suwon,Mac OS X,100.0,9933006,2022,4,12,52,3,29,363,2022-12-29
2022-12-29 18:51:20,5659475,AedQSGNC0C4ADixg,View,패브릭,커튼·부자재,레이스·속커튼,Gwangjin-gu,Mac OS X,100.0,3002,2022,4,12,52,3,29,363,2022-12-29
2022-12-28 13:37:29,5659482,r8FWmGGGT18ACFmH,View,주방용품,컵·잔·텀블러,머그컵,Seoul,Mac OS X,100.0,2001,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 13:42:42,5659500,Ownlw2Orw8sACWAN,View,생활용품,욕실용품,욕실선반·욕실정리,Yongsan-gu,Mac OS X,100.0,36019,2022,4,12,52,2,28,362,2022-12-28
2022-12-28 16:30:55,5659520,DgWzQWOr7+0AAaTp,View,가구,서랍·수납장,수납장,Incheon,Mac OS X,100.0,99653,2022,4,12,52,2,28,362,2022-12-28

In [55]:
log2_cat = log2['category1'].value_counts(normalize=True).sort_values(ascending=False)
log2_cat = log2_cat.iloc[:5]
log2_cat

가구        0.393013
패브릭       0.119729
주방용품      0.108146
가전·디지털    0.090388
데코·식물     0.086626
Name: category1, dtype: float64

In [56]:
log2_mac_cat = log2_mac['category1'].value_counts(normalize=True).sort_values(ascending=False)
log2_mac_cat = log2_mac_cat.iloc[:5]
log2_mac_cat

가구        0.439677
패브릭       0.124304
주방용품      0.089802
데코·식물     0.087684
가전·디지털    0.064121
Name: category1, dtype: float64

In [57]:
log2_ios_cat = log2_ios['category1'].value_counts(normalize=True).sort_values(ascending=False)
log2_ios_cat = log2_ios_cat.iloc[:5]
log2_ios_cat

가구        0.422139
패브릭       0.118257
데코·식물     0.090830
주방용품      0.087953
가전·디지털    0.086575
Name: category1, dtype: float64

In [58]:
log2_android_cat = log2_android['category1'].value_counts(normalize=True).sort_values(ascending=False)
log2_android_cat = log2_android_cat.iloc[:5]
log2_android_cat

가구        0.391029
가전·디지털    0.126656
패브릭       0.105594
주방용품      0.105275
데코·식물     0.083940
Name: category1, dtype: float64

In [59]:
log2_win_cat = log2_win['category1'].value_counts(normalize=True).sort_values(ascending=False)
log2_win_cat = log2_win_cat.iloc[:5]
log2_win_cat

가구        0.384190
패브릭       0.123603
주방용품      0.114109
데코·식물     0.086605
가전·디지털    0.083130
Name: category1, dtype: float64

# Bidding EDA

In [60]:
print('Features:', bidding.shape[1], ';', 'Entries:', bidding.shape[0])

Features: 14 ; Entries: 1337088

In [61]:
bidding.columns

Index(['index', 'Impression', 'Click', 'Cost', 'Sum of AD rank', 'Bid',
       'Price(PC)', 'Price(Mobile)', 'Delivery Fee', 'Category Name 1',
       'Category Name 2', 'Category Name 3', 'Category Name 4', 'date'],
      dtype='object')

In [62]:
descriptive_info(bidding)

Total number of cells the datafile has:
index              1337088
Impression         1337088
Click              1337088
Cost               1337088
Sum of AD rank     1337078
Bid                1337088
Price(PC)          1337088
Price(Mobile)      1337088
Delivery Fee       1337088
Category Name 1    1337088
Category Name 2    1337088
Category Name 3    1331221
Category Name 4     930132
date               1337088
dtype: int64


Printing descriptive statistics...

               index    Impression         Click          Cost  Sum of AD rank  \
count  1.337088e+06  1.337088e+06  1.337088e+06  1.337088e+06    1.337078e+06
mean   5.167098e+06  4.412753e+01  7.189467e-01  1.800053e+02    1.138271e+01
std    2.655813e+06  3.434510e+02  3.423456e+00  1.772706e+03    1.323231e+01
min    2.578600e+04  0.000000e+00  0.000000e+00  0.000000e+00    1.000000e+00
25%    3.300168e+06  3.000000e+00  0.000000e+00  0.000000e+00    3.706897e+00
50%    4.637081e+06  1.000000e+01  0.000000e+00  0.000000e+00    7.090909e+00
75%    7.290770e+06  3.100000e+01  0.000000e+00  0.000000e+00    1.341026e+01
max    9.984108e+06  7.860700e+04  4.740000e+02  3.253000e+05    1.000000e+02

                Bid     Price(PC)  Price(Mobile)  Delivery Fee          date
count  1.337088e+06  1.337088e+06   1.337088e+06  1.337088e+06  1.337088e+06
mean   2.631728e+02  1.826830e+05   1.826830e+05  2.005842e+03  2.022173e+07
std    2.769174e+02  4.544135e+05   4.544135e+05  5.423991e+03  2.184658e+03
min    5.000000e+01  2.000000e+03   2.000000e+03 -1.000000e+00  2.022103e+07
25%    5.000000e+01  1.980000e+04   1.980000e+04  0.000000e+00  2.022112e+07
50%    2.000000e+02  5.900000e+04   5.900000e+04  0.000000e+00  2.022120e+07
75%    3.500000e+02  1.790000e+05   1.790000e+05  3.000000e+03  2.022122e+07
max    4.000000e+03  1.500000e+07   1.500000e+07  1.450000e+05  2.023010e+07

In [89]:
bidding['Delivery Fee'].value_counts()

 0        539273
-1        321378
 3000     281297
 2500      46103
 3500      23465
           ...
 57000         3
 7400          3
 39000         3
 4100          1
 3700          1
Name: Delivery Fee, Length: 116, dtype: int64

In [88]:
print(f"배송비 : {len(bidding['Delivery Fee'])}")
print(f"배송비 있음 : {len(bidding[bidding['Delivery Fee'] > 0])}")
print(f"배송비 없음 : {len(bidding[bidding['Delivery Fee'] == 0])}")
print(f"배송비 마이너스 : {len(bidding[bidding['Delivery Fee'] < 0])}")
print(f"배송비 없거나 마이너스 비율 : {100 * len(bidding[bidding['Delivery Fee'] <= 0]) / len(bidding['Delivery Fee'])}%")

배송비 : 1337088
배송비 있음 : 476437
배송비 없음 : 539273
배송비 마이너스 : 321378
배송비 없거나 마이너스 비율 : 64.36756593432894%

In [96]:
bidding_dfee_zero = bidding[bidding['Delivery Fee'] <= 0]
bidding_dfee_zero

,index,Impression,Click,Cost,Sum of AD rank,Bid,Price(PC),Price(Mobile),Delivery Fee,Category Name 1,Category Name 2,Category Name 3,Category Name 4,date
0,3575092,3,0,0.0,3.000000,50,165900,165900,0,가구/인테리어,침실가구,장롱/붙박이장,드레스룸,20221031
1,3575637,6,0,0.0,3.333333,50,10900,10900,0,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20221031
2,4129259,7,0,0.0,8.000000,50,255000,255000,-1,가구/인테리어,거실가구,소파,패브릭소파,20221031
4,4131482,224,0,0.0,5.696429,50,129000,129000,0,가구/인테리어,아동/주니어가구,책상,NaN,20221031
5,4132077,17,0,0.0,8.529412,50,663000,663000,0,가구/인테리어,침실가구,침대,슈퍼싱글침대,20221031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337078,2566230,85,2,860.0,1.611765,500,36800,36800,0,생활/건강,욕실용품,수건/타월,세면타월,20230103
1337079,2566332,16,1,260.0,1.937500,500,17900,17900,0,생활/건강,청소용품,휴지통,다용도휴지통,20230103
1337082,2566784,119,3,990.0,5.445378,500,9500,9500,0,생활/건강,문구/사무용품,다이어리/플래너,캘린더/달력,20230103
1337083,2566795,5,0,0.0,13.200000,500,19900,19900,0,가구/인테리어,인테리어소품,아로마/캔들용품,아로마방향제/디퓨저,20230103
1337087,2566923,14,0,0.0,12.428571,500,128800,128800,0,가구/인테리어,인테리어소품,액자,퍼즐/그림/사진액자,20230103

In [112]:
fee_zero_price = bidding_dfee_zero['Price(PC)'].sort_values(ascending=False).reset_index()
print(fee_zero_price)
print(fee_zero_price[fee_zero_price['Price(PC)'] < 5000])

          index  Price(PC)
0        235169   15000000
1        581163   15000000
2        132921   15000000
3        307462   15000000
4        537265   15000000
...         ...        ...
860646   720350       2100
860647   631541       2100
860648   873436       2100
860649  1120088       2100
860650   821007       2100

[860651 rows x 2 columns]
          index  Price(PC)
853967   160876       4990
853968   372618       4990
853969   319473       4990
853970   439885       4990
853971   332247       4990
...         ...        ...
860646   720350       2100
860647   631541       2100
860648   873436       2100
860649  1120088       2100
860650   821007       2100

[6684 rows x 2 columns]

In [115]:
fee_zero_cat1 = bidding_dfee_zero['Category Name 1'].value_counts().sort_values(ascending=False).reset_index()
fee_zero_cat1

     index  Category Name 1
0  가구/인테리어           682345
1    생활/건강           142156
2    출산/육아            17334
3   스포츠/레저             7667
4   화장품/미용             4080
5   디지털/가전             3044
6     패션잡화             2567
7  여가/생활편의              781
8     패션의류              614
9       식품               63

In [116]:
fee_zero_cat2 = bidding_dfee_zero['Category Name 2'].value_counts().sort_values(ascending=False).reset_index()
fee_zero_cat2

        index  Category Name 2
0        침실가구           171253
1        거실가구           118932
2        주방가구           105487
3    서재/사무용가구            82589
4        주방용품            62591
..        ...              ...
102      해외여행                8
103   국내여행/체험                7
104    재활운동용품                6
105   광학기기/용품                3
106        종교                1

[107 rows x 2 columns]

In [117]:
fee_zero_cat3 = bidding_dfee_zero['Category Name 3'].value_counts().sort_values(ascending=False).reset_index()
fee_zero_cat3

       index  Category Name 3
0      식탁/의자            78189
1         소파            66379
2         침대            62277
3         책상            30840
4    장롱/붙박이장            28277
..       ...              ...
448     등산의류                2
449     화분받침                2
450     낚시용품                2
451      케틀벨                1
452   연습용젓가락                1

[453 rows x 2 columns]

In [118]:
fee_zero_cat4 = bidding_dfee_zero['Category Name 4'].value_counts().sort_values(ascending=False).reset_index()
fee_zero_cat4

     index  Category Name 4
0    침대프레임            42576
1    패브릭소파            41797
2    식탁테이블            31564
3     식탁세트            24946
4    일반화장대            18687
..     ...              ...
574  실내탈취제                2
575   낚시텐트                2
576   야전침대                1
577   전동드릴                1
578   수저받침                1

[579 rows x 2 columns]

In [119]:
bidding_dfee_nonzero = bidding[bidding['Delivery Fee'] > 0]
bidding_dfee_nonzero

,index,Impression,Click,Cost,Sum of AD rank,Bid,Price(PC),Price(Mobile),Delivery Fee,Category Name 1,Category Name 2,Category Name 3,Category Name 4,date
3,4131479,36,3,150.0,4.416667,140,190000,190000,20000,가구/인테리어,아동/주니어가구,책상의자세트,NaN,20221031
13,4163063,25,5,250.0,1.000000,50,253000,253000,15000,생활/건강,반려동물,고양이 캣타워,NaN,20221031
14,4163075,14,0,0.0,4.142857,50,35800,35800,4000,생활/건강,반려동물,고양이 배변용품,후드형화장실,20221031
15,4163102,39,2,100.0,5.051282,50,29900,29900,3500,생활/건강,반려동물,고양이 캣타워,NaN,20221031
18,4181602,5,0,0.0,18.600000,50,9600,9600,3500,가구/인테리어,DIY자재/용품,바닥재,장판,20221031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337080,2566781,10,0,0.0,2.000000,500,7800,7800,3000,생활/건강,문구/사무용품,카드/엽서/봉투,엽서,20230103
1337081,2566783,40,0,0.0,10.200000,500,14300,14300,3000,생활/건강,문구/사무용품,다이어리/플래너,다이어리,20230103
1337084,2566880,3,0,0.0,17.000000,500,23900,23900,3000,생활/건강,문구/사무용품,이벤트/파티용품,데코용품,20230103
1337085,2566881,1,0,0.0,8.000000,500,2500,2500,3000,가구/인테리어,인테리어소품,기타장식용품,NaN,20230103
1337086,2566891,2,0,0.0,4.000000,500,21000,21000,3000,생활/건강,정원/원예용품,화분받침,NaN,20230103

In [120]:
fee_nonzero_price = bidding_dfee_nonzero['Price(PC)'].sort_values(ascending=False).reset_index()
print(fee_nonzero_price)
# print(fee_nonzero_price[fee_nonzero_price['Price(PC)'] < 5000])

          index  Price(PC)
0       1197381    9000000
1       1336393    9000000
2       1141501    9000000
3       1169645    9000000
4       1279596    9000000
...         ...        ...
476432   297426       2000
476433  1050529       2000
476434   548168       2000
476435  1294377       2000
476436    44897       2000

[476437 rows x 2 columns]

In [121]:
fee_nonzero_cat1 = bidding_dfee_nonzero['Category Name 1'].value_counts().sort_values(ascending=False).reset_index()
fee_nonzero_cat1

     index  Category Name 1
0  가구/인테리어           274908
1    생활/건강           171765
2   스포츠/레저             8604
3    출산/육아             7835
4     패션잡화             5297
5   화장품/미용             3408
6   디지털/가전             2693
7     패션의류             1723
8       식품              147
9  여가/생활편의               57